.sec-display{
    display: flex;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    
    
    
}
span{
    color: orange;
}
.sec-display img{
    width: 80%;
}
.text-width{
    width: 50%;
    padding-left: 10%;
}
.text-size{
    size: 50px;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
a{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 30px;  
    border-radius: 5px;
    color: aliceblue; 
    font-weight: 700;   
}
p{
    text-align: justify;
    font-size: large;
    color:slategrey;
}

  .dream-display{
      display: flex;
      padding-left: 10%;
      padding-top: 10%;
      background-image: url(dream-bg.png);
      background-repeat: no-repeat;
      background-position: right;
  }

  .dream-display img{
      width: 80%;
  }
  .dream-text{
    width: 50%;
    padding-right: 10%;
    padding-left: 5%;
  }

 .h3-{
     font-size: 30px;
 }
 .h4-{
     font-size: 20px;
 }
 .p-{
     text-align: justify;
     font-size: large;
 }

 .flexi{
     display: flex;
 }